/* Generics */
body {
    background-color: rgb(14, 48, 63);
    font-family: 'Marck Script', cursive;
    font-size: 18px;
    color: rgb(238, 238, 238);
}

header {
    background-color: rgb(255, 255, 255);
}

.cs-btn-success {
    background-color: rgb(0, 173, 181);
    border-color: rgb(0, 192, 202);
}

.cs-btn-success:hover {
    background-color: rgb(0, 173, 181);
    border-color: rgb(0, 192, 202);
    opacity: 0.5;
}

i {
    font-size: 16px;
}

i.fa-check-square {
    color: rgb(0, 173, 181);
}

.cs-btn-close {
    font-size: 10px;
}